/* order.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fdf6e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff8e1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4e4e4e;
}

input[type="email"],
input[type="name"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
}

input[type="email"]:focus,
input[type="name"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

input[type="submit"] {
    background-color: #ffcc00;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ffb300;
}

input[type="submit"]:active {
    background-color: #e69a00;
}
