<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulb bnb </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <div class="logo">
                <h1>Bulb bnb</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Host</a></li>
                    <!--<li><a href="#">Login</a></li>-->
                </ul>
            </div>
        </nav>
    </header>

    <!-- Search Bar Section -->
    <section class="search-bar">
        <h2>Find Your Perfect Broken Bulb</h2>
        <form action="#">
         
        <select class="bulb" name="bulb">
            <option value="incandescent">Broken</option>
            <option value="led">Very broken</option>
            <option value="halogen">Very Very Broken</option>
            <option value="fluorescent">Broken Luxury</option>
         </select>

            
        </form>
    </section>

    <!-- Featured Listings Section -->
    <section class="featured-listings">
        <h2>Featured Bulbs</h2>
        <div class="listing">
            <div class="listing-card">
                <img src="bulb1.jpg" alt="Bulb 1">
                <h3>Luxury Bulbs in London</h3>
                <p>£120 per night</p>
                <p>Disclaimer: bulb will spark when used</p>
            </div>
            <div class="listing-card">
                <img src="bulb2.jpg" alt="Bulb 2">
                <h3>Cozy Bulb in Paris</h3>
                <p>From £80 per night</p>
                <p>Offer: Includes broken pieces </p>
            </div>
            <div class="listing-card">
                <img src="bulb3.jpg" alt="Bulb 3">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£250 per night</p>
                <p>Disclaimer: bulb steams when in use</p>
            </div>
            <div class="listing-card">
                <img src="bulb4.jpg" alt="Bulb 4">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£50 per night</p>
                <p>Disclaimer: bulb steams when in use</p>
            </div>
            <div class="listing-card">
                <img src="bulb5.jpg" alt="Bulb 5">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£250 per night</p>
                <p>Luxury bent bulb</p>
            </div>
            <div class="listing-card">
                <img src="bulb6.jpg" alt="Bulb 6">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£250 per night</p>
                <p>Rare fused bulb</p>
            </div>
            <div class="listing-card">
                <img src="bulb4.jpg" alt="Bulb 3">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£250 per night</p>
                <p>Disclaimer: bulb steams when in use</p>
            </div>
            <div class="listing-card">
                <img src="bulb3.jpg" alt="Bulb 3">
                <h3>Luxury Bulb in Ibiza</h3>
                <p>£250 per night</p>
                <p>Disclaimer: bulb steams when in use</p>
            </div>
            
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <p>By SheCoded</p>
    </footer>
</body>
</html>
