<!DOCTYPE html> 
<html> 
	<head> 
		<title> Place Your Order </title> 
		<link rel="stylesheet" href="/static/order.css">
	</head> 
	<body> 
		<form method="POST"> 
			<label>Enter Email:</label> 
			<input type="email" name="email" placeholder="Enter your email" required><br/> 
			<label>Enter Bulb Type:</label> 
			<input type="name" name="bulb_type" placeholder="Enter your Bulb Type" required><br/> 
			<label>Enter Quantity:</label> 
			<input type="number" name="quantity" placeholder="Enter the Quantity" required><br/> 
			<input type = "submit" value = "submit"/><br/> 
		</form> 
	</body> 
</html>
